#imgsrc{
margin-left:  1257px;
margin-bottom: 0.7px;

}
#imgly{
   margin-bottom: -10px;
margin-right:-50px;
width: 99px;
height:200px;
margin-top:-140px;
padding-bottom: 90px;
display: block;

}
#imgbienv{
margin-left:165px;
margin-left: 183px;
margin-top: -100px;
width: 990px;
height: 400px;
}
#img-util{
   margin-top: -400px;
}
#imgfoot{
   height: 100px;
   width: 990px;
   margin-left: -117px;
   margin-right: 70px;
}
#img-inscr{
   margin-left: 72px;
}
#idinsc{
margin-right:-400px ;
margin-top:  -320px;
}

#user{
   font-size: 15px;
}
#password{
  font-size: 16px;
  
}

input{
   border:solid grey 1px;
   border-radius:5px;
   font-style: bold;

}
#btn-conn{
   background: url(connexion.png) no-repeat;
   width:120px;
   height:38px;
   border:none; 
   margin-left:  70px;
   color:#6e6e6e;
   font-size: 12px;
   font-style: bold;
   font-weight: bold;
   padding-left: 30px;

}


#loginkeep{
   padding-right:160px ;
   padding-left: 140px;
 margin-left: -145px;
 margin-top: 10px;
 font-size: 16px;
padding-bottom: 10px;
 }

 #btn-conn:hover{
color: green;
 }
 
#footer{
margin-top:130px;
padding-bottom: 170px;
margin-left: 300px;
padding-right: 600px;

}